.bodyi{
    display: flex;
    flex-direction: column;
    gap: 25px;
}


body{
 
    color:white;
    
   
}

.navbar{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
    
    


}
.navbar h1{
     color: blue;
     padding-left:200px ;
     
}
.navbar-menu{
    display: flex;
     align-items: center;
     justify-content: space-between;
    
   color: black;
   list-style: none;
   gap: 50px;
   padding-right: 200px;
   cursor: pointer;
}
.navbar-menu li{
     display: flex;
     font-size: 15px;
     font-weight: 500;
    
    
}
.datee{
     position: relative;
}
.back-ground{
     background-image: url("vlad.jpg");
     background-size:cover ;
     background-position: center;
     background-repeat: no-repeat;
     width: 100%;
     height:600px
   
}
.keywords{
    font-size: 30px;
      align-items: center;
      justify-content: center;
}
.keywords h1{
    padding-left: 300px;
}
.dates{

    align-items: center;


justify-content: center;
border: 11px solid white;
border-radius: 15px;
width: 50%;
margin: 0 auto;
background-color: white;

padding: 10px;
margin-bottom: 30px;




}
.dates input{
   
    align-items: center;
    width: 100px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    padding: 10px;
   border-radius: 10px;
    
}
.fonting{
   
    align-items: center;
    display: flex;
    flex-direction: column;

}

      /* width: 50%;
      margin: 0 auto;
       align-items: center;
       justify-content: center;
       color:white;
       border: 30px solid darkblue;
    background-color: darkblue;
   border-radius: 20px;
  padding: auto;} */

  .navigating{
     color:black;
    display: flex;
    flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-right: 500px;
    
  }
  .navigating h1{
    font-size: 30px;
    font-weight: 500;
    color: black;
    margin-right: 155px;
  }
   
   
   .imaging{
     display: flex;
     flex-direction: row;
     gap:30px;
     margin-left: 300px;
   }

   .imaging img{
        

flex: 1 1 1 150px;
border: 2px solid white;
border-radius: 15px;
max-width: 150px;
height: auto;
object-fit: cover;
cursor: pointer;

   }
   .navigating p{
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin-right: 25px;
  }
.forming{
   align-items: center;
   justify-content: center;
   border: 30px solid wheat;
   width:80%;
   margin:10px auto;
   border-bottom: 0cap;
   padding-bottom: 40%;
   color: wheat;
   background-color: wheat;
   border-radius: 30px;
   margin-left: 380px;
}